$background-colour-dark:#000000;
$background-colour-white:#FBFBFB;
$primary-colour:#FBCA49;
$text-colour-dark:#E8EDDF;
$text-colour-light:#000001;
$font-size: 16px;
$font-size-10px: 0.625rem;
$font-size-12px: 0.75rem;
$font-size-14px: 0.875rem;
$font-size-16px: 1rem;
$font-size-18px: 1.125rem;
$font-size-20px: 1.25rem;
$font-size-24px: 1.5rem;
$font-size-30px: 1.875rem;
$font-size-32px: 2rem;
$border-radius-lg: 20px;
$border-radius-md: 8px;
$padding-sm: 10px;
$span-12:span 12;
$span-2-10: 2/ span 10;
$line-menu-colour:#707070;
$service-darkmode-fill:#333333;
$service-lightmode-fill:#FAFAFA;
$box-shadow-light-1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$box-shadow-dark-1: rgba(68, 76, 79, 0.12) 0px 2px 4px 0px, rgba(50, 55, 57, 0.32) 0px 2px 16px 0px;
$box-shadow-light-2:rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(241, 241, 241, 0.8) -6px -2px 16px 0px;
$box-shadow-dark-2: rgba(77, 77, 87, 0.48) 6px 2px 16px 0px, rgba(0, 0, 0, 0.8) -6px -2px 16px 0px;