.services {
  height: 1155px;
  width: 100vw;
}
.services > div {
  height: 1026px;
  width: 340px;
  grid-column: 2/span 10;
  margin-top: 20px;
  border-radius: 20px;
}
.services > div > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 23px;
}
.services > div > div:first-child h1 {
  font-size: 21px;
  text-transform: uppercase;
}
.services > div > div:first-child hr {
  margin: 0;
  width: 67px;
  border-radius: 8px;
  background: #FBCA49;
  border: 1.5px solid #FBCA49;
  margin-left: 30px;
}
.services > div .main-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services > div .main-services .each-services {
  width: 190px;
  height: 279px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin-top: 33px;
  box-sizing: border-box;
  padding: 5px;
  justify-content: center;
}
.services > div .main-services .each-services > div:first-child {
  width: 68px;
  height: 68px;
  display: flex;
  overflow: hidden;
}
.services > div .main-services .each-services > div:first-child img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services > div .main-services .each-services > h1 {
  font-size: 17px;
  margin-top: 22px;
  text-transform: uppercase;
  text-align: center;
}
.services > div .main-services .each-services p {
  font-size: 0.625rem;
  text-align: center;
  margin-top: 25px;
}

@media screen and (min-width: 414px) {
  .services > div {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .services {
    height: -moz-fit-content;
    height: fit-content;
  }
  .services > div:first-child {
    width: 90%;
    margin: auto;
    height: -moz-fit-content;
    height: fit-content;
  }
  .services > div:first-child > div:first-child h1 {
    font-size: 2rem;
  }
  .services > div:first-child > div:first-child hr {
    width: 120px;
  }
  .services > div:first-child .main-services {
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
  }
  .services > div:first-child .main-services .each-services {
    width: 30%;
    height: 380px;
  }
  .services > div:first-child .main-services .each-services h1 {
    font-size: 1.25rem;
  }
  .services > div:first-child .main-services .each-services p {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1200px) {
  .services {
    height: 792px;
  }
  .services > div:first-child {
    width: -moz-fit-content;
    width: fit-content;
    grid-column: span 12;
  }
  .services > div:first-child > div:first-child h1 {
    font-size: 40px;
  }
  .services > div:first-child > div:first-child hr {
    width: 125px;
    margin-left: 65px;
  }
  .services > div:first-child .main-services {
    width: -moz-fit-content;
    width: fit-content;
  }
  .services > div:first-child .main-services .each-services {
    width: 360px;
    height: 533px;
    margin: 0 20px;
  }
  .services > div:first-child .main-services .each-services > div:first-child {
    width: 130px;
    height: 130px;
  }
  .services > div:first-child .main-services .each-services h1 {
    font-size: 1.5rem;
  }
  .services > div:first-child .main-services .each-services p {
    font-size: 0.875rem;
  }
}/*# sourceMappingURL=Services.css.map */