.skills {
  width: 100vw;
  height: 1440px;
  overflow: hidden;
  position: relative;
}
.skills .home-video video {
  width: 100vw;
  height: 1600px;
}
.skills > div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.skills > div .sklils-intro h3 {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 52px;
  text-transform: capitalize;
}
.skills > div .sklils-intro h3 em {
  color: #FBCA49;
  text-decoration: none;
  font-style: normal;
}
.skills > div .sklils-intro p {
  font-size: 13px;
  padding: 0 28px;
  margin-top: 22px;
  text-align: center;
}
.skills > div .circled-dots-skills {
  width: 100%;
  display: flex;
  justify-content: center;
}
.skills > div .circled-dots-skills > div {
  display: flex;
}
.skills > div .circled-dots-skills > div > div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 10px;
}
.skills > div .circled-dots-skills > div > div:first-child {
  margin-right: 11px;
}
.skills > div .circled-dots-skills > div > div:last-child {
  margin-left: 11px;
}
.skills > div .circled-dots-skills > div .skills-dot-false {
  background-color: #707070;
}
.skills > div .circled-dots-skills > div .skiils-dot {
  background-color: red;
}
.skills > div > div:last-child .top-languages {
  margin-top: 12px;
}
.skills > div > div:last-child .top-languages h2 {
  text-align: center;
  text-transform: uppercase;
}
.skills > div > div:last-child .top-languages .ul {
  margin: 0 auto;
  color: #000000;
  margin-top: 13px;
  width: -moz-fit-content;
  width: fit-content;
}
.skills > div > div:last-child .top-languages .li {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  grid-column: span 6;
  width: 160px;
}
.skills > div > div:last-child .top-languages .li h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 20px;
  font-size: 0.625rem;
  font-weight: bold;
  text-align: center;
}
.skills > div > div:last-child .top-languages .li .content {
  flex: 1 0 100%;
}
.skills > div > div:last-child .top-languages .li .content p {
  font-size: 12px;
}
.skills > div > div:last-child .top-languages .avatar {
  width: 46px;
  height: 46px;
}
.skills > div > div:last-child .top-languages .avatar img {
  width: 100%;
  height: 100%;
}
.skills > div > div:last-child .top-languages .row {
  width: 100%;
  height: 8px;
  background-color: #999;
  border-radius: 10px;
  margin-top: 12px;
}

@media screen and (min-width: 992px) {
  .skills {
    height: 773px;
  }
  .skills .home-video video {
    height: 773px;
  }
  .skills > div .sklils-intro {
    width: 490px;
    margin-left: 54px;
    margin-top: 48px;
    display: inline-block;
  }
  .skills > div .sklils-intro h3 {
    font-size: 1.875rem;
  }
  .skills > div .sklils-intro p {
    font-size: 1.25rem;
  }
  .skills > div .circled-dots-skills {
    width: 590px;
    margin-left: 180px;
    margin: 0;
  }
  .skills > div .TopLanguages, .skills > div .DesignTools, .skills > div .OtherLiabries {
    width: 634px;
    display: inline-block;
    margin: 0;
    display: inline-block;
  }
  .skills > div > div:last-child .TopLanguages {
    position: absolute;
    top: 6%;
    left: 40%;
  }
  .skills > div > div:last-child .TopLanguages .li {
    height: -moz-fit-content;
    height: fit-content;
    width: 296px;
    margin-left: 39px;
  }
  .skills > div > div:last-child .TopLanguages .li h2 {
    font-size: 1.5rem;
  }
  .skills > div > div:last-child .TopLanguages .avatar {
    width: 65px;
    height: 65px;
  }
  .skills > div > div:last-child .TopLanguages > h2 {
    font-size: 37px;
  }
  .skills > div > div:last-child .DesignTools .li {
    height: -moz-fit-content;
    height: fit-content;
    width: 225px;
    margin-left: 39px;
  }
  .skills > div > div:last-child .DesignTools .li h2 {
    font-size: 1.125rem;
  }
  .skills > div > div:last-child .DesignTools .avatar {
    width: 57px;
    height: 57px;
  }
  .skills > div > div:last-child .DesignTools > h2 {
    font-size: 2rem;
  }
  .skills > div > div:last-child .OtherLiabries {
    position: absolute;
  }
  .skills > div > div:last-child .OtherLiabries .li {
    height: -moz-fit-content;
    height: fit-content;
    width: 236px;
    margin-left: 39px;
  }
  .skills > div > div:last-child .OtherLiabries .li h2 {
    font-size: 1.125rem;
  }
  .skills > div > div:last-child .OtherLiabries .avatar {
    width: 60px;
    height: 60px;
  }
  .skills > div > div:last-child .OtherLiabries > h2 {
    font-size: 2rem;
  }
}/*# sourceMappingURL=skills.css.map */