@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

html,
body,
p,
a,
ul,
li,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: inherit;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}
